.rectangle {
  width: 1592px;
  height: 452px;
  position: relative;
  background-color: var(--color-gray-200);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.privacyPolicyLink {
  width: 102px;
  height: 20px;
  position: absolute;
  margin: 0 !important;
  top: 56px;
  left: 284px;
  z-index: 18;
}
.contactSection,
.contactSection1,
.contactSection2 {
  width: 58px;
  height: 17px;
  position: absolute;
  margin: 0 !important;
  top: 92px;
  left: 284px;
  z-index: 20;
}
.contactSection1,
.contactSection2 {
  width: 33px;
  top: 172px;
}
.contactSection2 {
  width: 116px;
  top: 212px;
}
.categories {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  text-transform: uppercase;
  color: var(--color-white);
  z-index: 19;
}
.webBuilder {
  flex: 1;
  position: relative;
  line-height: 20px;
  z-index: 21;
}
.unitedStatesLabel {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-6xs);
}
.rectangle1 {
  height: 17px;
  width: 124px;
  position: absolute;
  margin: 0 !important;
  top: 1px;
  right: -76px;
  z-index: 20;
}
.hosting {
  position: relative;
  line-height: 20px;
  z-index: 21;
}
.hostingArea {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.dataCenter,
.roboticAutomation {
  position: relative;
  line-height: 20px;
  z-index: 21;
}
.dataCenter {
  width: 116px;
  font-size: var(--font-size-sm);
  display: inline-block;
}
.roboticAutomation {
  white-space: nowrap;
}
.hostingAreaParent,
.webBuilderFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px 0;
}
.webBuilderFrame {
  width: 124px;
  gap: 13px 0;
}
.rectangle2 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 19;
}
.builderWeb {
  height: 20px;
  width: 79px;
  position: relative;
  z-index: 20;
}
.contact {
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  z-index: 21;
  margin-left: -79px;
}
.rectangleGroup {
  width: 325px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  z-index: 99;
  max-width: 100%;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.contact1 {
  position: relative;
  line-height: 20px;
  z-index: 22;
}
.rectangle3,
.termsOfServiceLabel {
  position: absolute;
  margin: 0 !important;
  left: 0;
}
.rectangle3 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}
.termsOfServiceLabel {
  height: 17px;
  width: 92px;
  bottom: 1px;
  z-index: 21;
}
.privacyPolicy {
  position: relative;
  line-height: 20px;
  z-index: 22;
}
.termsAndConditions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
.frameWrapper,
.rectangleContainer {
  display: flex;
  justify-content: flex-start;
}
.rectangleContainer {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.frameWrapper {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-3xs) var(--padding-7xs) 0 0;
  box-sizing: border-box;
  min-width: 215px;
  max-width: 100%;
}
.image {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: var(--br-9980xl);
  z-index: 20;
}
.unitedStates {
  position: relative;
  line-height: 20px;
  z-index: 21;
}
.privacyPolicyCategories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 6px;
  font-size: var(--font-size-smi);
  color: var(--color-lightgray);
}
.imageIcon {
  height: 9px;
  width: 15px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 20;
}
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 10px;
  max-width: 100%;
}
.rectangleBackground {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
}
.rectangleFrameContainer {
  height: 17px;
  width: 114px;
  position: absolute;
  margin: 0 !important;
  bottom: 1px;
  left: 0;
  z-index: 21;
}
.termsOfService {
  position: relative;
  line-height: 20px;
  z-index: 22;
}
.termsTerminationLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
.contactParent,
.frameParent,
.rectangleFrameGroup {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangleFrameGroup {
  width: 325px;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.contactParent,
.frameParent {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px 0;
}
.contactParent {
  padding: 0 0 var(--padding-7xs);
  box-sizing: border-box;
  gap: 1px 0;
}
.rectangle4 {
  height: calc(100% - 6px);
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 6px;
  left: 0;
  z-index: 20;
}
.rectangle5 {
  height: 17px;
  width: 72px;
  position: relative;
  z-index: 21;
}
.categories1 {
  position: relative;
  line-height: 20px;
  z-index: 22;
  margin-left: -72px;
}
.frameDiv {
  width: 325px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  font-size: var(--font-size-smi);
}
.rectangle6 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
}
.rectangle7 {
  height: 17px;
  width: 40px;
  position: relative;
  z-index: 21;
}
.about {
  position: relative;
  line-height: 20px;
  z-index: 22;
  margin-left: -40px;
}
.rectangleParent1 {
  width: 325px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.categoriesText,
.contactSection3 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.contactSection3 {
  width: 502px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px 0;
  font-size: var(--font-size-sm);
}
.categoriesText {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.rectangle8 {
  width: 99px;
  height: 17px;
  position: relative;
  z-index: 20;
}
.categoriesFrame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contactFormFields,
.imagePlaceholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 19;
}
.contactFormFields {
  top: 4px;
  width: 54px;
  height: 17px;
  z-index: 20;
}
.imagePlaceholderParent {
  width: 325px;
  height: 24px;
  position: relative;
  max-width: 100%;
}
.termsOfServiceLink,
.uSFlagImage {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.termsOfServiceLink {
  width: 843px;
  flex-direction: column;
  gap: 19px 0;
}
.uSFlagImage {
  width: 1024px;
  flex-direction: row;
}
.rectangle9 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 16;
}
.rectangle10,
.rectangle11 {
  align-self: stretch;
  height: 20px;
  position: relative;
  z-index: 17;
}
.rectangle11 {
  z-index: 18;
}
.rectangleParent,
.rectangleParent2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.rectangleParent2 {
  width: 1024px;
}
.rectangleParent {
  flex: 1;
  background-color: var(--color-gray-200);
  padding: var(--padding-35xl) var(--padding-21xl) var(--padding-21xl);
  box-sizing: border-box;
  gap: 60px 0;
  z-index: 14;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-silver);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .rectangleParent {
    gap: 60px 0;
  }
}
@media screen and (max-width: 750px) {
  .categoriesText,
  .frameGroup {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .rectangleParent {
    padding-top: var(--padding-16xl);
    padding-bottom: var(--padding-7xl);
    box-sizing: border-box;
  }
}
